@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
}

header {
  background: url('img/bg.jpg');
  background-position: center;
  background-size: cover;
  height: 430px;
}

header h2 {
  font-size: 3.6em;
}

header p {
  font-size: 1.2em;
}

header p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 5px;
  width: 5em;
  background-color: #d4d9df;
}

header div {
  font-family: 'Amaranth', sans-serif;
  color: #d2d7dd;
  position: relative;
  top: 30%;
  left: 10%;
  width: fit-content;
}

main {
  display: flex;
  margin-top: 100px;
  width: 86%;
  margin: 100px auto 0 auto;
  max-width: 1350px;
}

.book__info-wrapper {
  width: 82%;
}

.book__container {
  display: flex;
  border-right: 1px solid #e8e3e3;
  padding-bottom: 100px;
}

.book__img {
  width: 260px;
  height: 410px;
}

.book__img img {}

.bi__container {
  margin-left: 30px;
}

.book__info {}

.book__info h2 {
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: 14px;
}

.bi {}

.bi__label {
  color: #566280;
  font-weight: bold;
  width: 144px;
  display: inline-block;
  margin: 1px 0;
}

.bi__label:after {
  content: ":"
}

.bi__d {
  margin-top: 20px;
}

.bi__val {
  margin-left: 4px;
  color: #732d2d;
  letter-spacing: 1px;
}

.bi__price {
  margin-top: 10px;
  color: #732d2d;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.bi__description {
  width: 90%;
  line-height: 1.4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 91px;
  text-align: justify;
}

.book__review-container {
  margin-top: 70px;
}

.br__review {
  display: flex;
  margin: 40px 0;
}

.br__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.br__content-wrapper {
  margin-left: 35px;
}

.br__title {
  margin-top: 5px;
  font-size: 1.1em;
}

.br__description {
  text-align: justify;
  width: 90%;
}

.recently__container {
  width: 20%;
  margin-left: 50px;
}

.recently__container p {
  position: relative;
  font-size: 1.4em;
}

.recently__container p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 3px;
  width: 5em;
  background-color: #000000;
}

.w__review {
  margin-top: 160px;
}

.review__form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

.review__form input {
  height: 55px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.r__text {
  padding-left: 15px;
  padding-top: 10px;
}

.r__submit {
  background: #646464 !important;
  color: #f2f2f2;
  width: 165px !important;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  padding: 0 !important;
}

.r__submit:hover {
  background: #5e5c5c !important;
  transition: all 100ms ease;
}

.review__form input:active,
.review__form input:focus,
.review__form textarea:active,
.review__form textarea:focus {
  outline: none;
}

.star-rating {
  font-family: 'FontAwesome';
  margin: 24px 0;
  display: flex;
  align-items: center;
}

.star-rating>fieldset {
  border: none;
  display: inline-block;
}

.star-rating>fieldset:not(:checked)>input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.star-rating>fieldset:not(:checked)>label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #16a085;
}

.star-rating>fieldset:not(:checked)>label:before {
  content: '\f006  ';
}

.star-rating>fieldset:not(:checked)>label:hover,
.star-rating>fieldset:not(:checked)>label:hover~label {
  color: #1abc9c;
  text-shadow: 0 0 3px #1abc9c;
}

.star-rating>fieldset:not(:checked)>label:hover:before,
.star-rating>fieldset:not(:checked)>label:hover~label:before {
  content: '\f005  ';
}

.star-rating>fieldset>input:checked~label:before {
  content: '\f005  ';
}

.star-rating>fieldset>label:active {
  position: relative;
  top: 2px;
}

.star-rating span {
  font-size: 1.5em;
  margin-right: 20px;
}

footer {
  margin-top: 170px;
  height: 165px;
  background: #313131;
}