header
  a.book__icon-container(href="/")
    img.book__icon(src="/img/book-icon.png", alt="Book Store")
  nav
    if (!user)
      a(href='/login')
        | Sign in
        <i class="fas fa-sign-in-alt"></i>
    else 
      a(href='/logout')
        | Sign out
        <i class="fas fa-sign-in-alt"></i>
  div
    h2 Book Store
    p Lorem ipsum dolar