extends layout

block content
  div
    h3 Login
    form(method='POST', action='/login')
      div
        label(for='loginUsername') Username
        input#loginUsername(type='text', name='username')
      div
        label(for='loginPassword') Password
        input#loginPassword(type='password', name='password')
      input(type='submit' value='Login')
  div(style='margin-top: 100px')
    h3 Register
    form(method='POST', action='/register')
      div
        label(for='registerName') Name
        input#registerName(type='text', name='name')
      div
        label(for='registerUsername') Username
        input#registerUsername(type='text', name='username')
      div
        label(for='registerPassword') Password
        input#registerPassword(type='password', name='password')
      input(type='submit' value='Register')

